$primary-text-color: black;
$hover-color: #dd0000;
$primary-bg-color: saddlebrown;
$border-radius: 5px;
$transition-time: 1s;
$secondary-bg-color: #F5F5DC;
$secondary-color: black;
$highlight-color: #dd0000;
$font-family-serif: "Serif";
$font-family-prociono: "Prociono", serif;
$font-family-roboto: "Roboto Condensed", sans-serif;
$base-font-size: 15px;
$large-font-size: 50px;
$medium-font-size: 35px;
$small-font-size: 25px;
$shadow-box: 2px 5px 12px;
$margin: 10px;
$border-radius: 5px;
$justify-content: center;


  